.container-login {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container-login form {
    width: 25%;
}

.btn-block {
    width: 100%;
}